<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.wutao.mapper.MusicMapper">

    <insert id="insert">
        insert into music (title, artist, album, duration, cover_image, music_url, lyric_url, has_lyric, lyric_type, sort, is_visible, create_time, update_time)
        values (#{title}, #{artist}, #{album}, #{duration}, #{coverImage}, #{musicUrl}, #{lyricUrl}, #{hasLyric}, #{lyricType}, #{sort}, #{isVisible}, #{createTime}, #{updateTime})
    </insert>

    <select id="pageQuery" resultType="cc.wutao.entity.Music">
        select id, title, artist, album, duration, cover_image, music_url, lyric_url, has_lyric, lyric_type, sort, is_visible, create_time, update_time
        from music
        <where>
            <if test="title != null and title != ''">
                and title like concat('%', #{title}, '%')
            </if>
            <if test="artist != null and artist != ''">
                and artist like concat('%', #{artist}, '%')
            </if>
            <if test="isVisible != null">
                and is_visible = #{isVisible}
            </if>
        </where>
        order by sort asc, id desc
    </select>

    <update id="update">
        update music
        <set>
            title = #{title},
            artist = #{artist},
            album = #{album},
            duration = #{duration},
            cover_image = #{coverImage},
            music_url = #{musicUrl},
            lyric_url = #{lyricUrl},
            has_lyric = #{hasLyric},
            lyric_type = #{lyricType},
            sort = #{sort},
            is_visible = #{isVisible},
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
    
    <delete id="batchDelete">
        delete from music where id in
        <foreach collection="list" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
